
<nav class="custom-navbar">
  <div class="nav-left">
    <a href="/" class="nav-brand">MyStore</a>
  </div>
  <div class="nav-right">
    <%=link_to "Your Cart", cart_path, class: "nav-link"%>
    <% if admin_user_signed_in? %>
      <a href="/admin/logout" class="nav-link">Logout</a>
    <% else %>
      <a href="/admin/login" class="nav-link">Login</a>
      <a href ="admin/sign_up" class="nav-link">Sign UP</a>
    <% end %>
  </div>
</nav>
<h1>All Products</h1>
<div class="products-container">
  <% @products.each do |product| %>
    
      <div class="product-card">
        <%= link_to product_show_path(product), class: "product-card-link" do %>
        <% if product.image.attached? %>
          <%= image_tag url_for(product.image), alt: product.name %>
        <% else %>
          <p>No image available</p>
        <% end %>
         <% end %> 
        <h2><%= product.name %></h2>
      </div>
  <% end %>
</div>
