<h2>Reset Your Password</h2>
<p>Hello, <%= @resource.email %>!</p>
<p>Click the link below to reset your password:</p>

<p><a href="<%= @reset_password_url %>">Reset Password</a></p>

<p>If you did not request a password reset, please ignore this email.</p>